:root {
  /* colors for the gradients on the navbar buttons can be edited here!
  gradient progresses left to right
  nav_1 is the left side of the leftmost button, nav_2 is shared by the
  right side of the leftmost button and the left side of the second leftmost
  button, etc
  */
  --nav_1: #ff00ff;
  --nav_2: #00f7ff;
  --nav_3: #ff00ff;
  --nav_4: #00f7ff;
  --nav_5: #ff00ff;
  --nav_6: #00f7ff;
  /*
  Some saved color schemes!
  --nav_1: #df0000;
  --nav_2: #ff8742;
  --nav_3: #ffd900;
  --nav_4: #88ff00;
  --nav_5: #00ffd5;
  --nav_6: #003cff;

  below colors are for the gradient around the sidebar!
  --side_1: #df0000;
  --side_2: #ff8742;
  --side_3: #ffd900;
  --side_4: #88ff00;
  --side_5: #00ffd5;
  */
}

body {
  color: white;
  font-family: "Verdana";
  background-color: #000000;
  margin: 0px;
}

.light-mode {
  color: black;
  background: #ffffff;
}

.centered {
  display: flex;
  justify-content: center;
}

#header_img {
  max-width: 100%;
}

.navbar {
  text-decoration: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #000000;
}
.navbar a {
  text-decoration: none;
  margin: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  color: white;
  float: left;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  border: double 4px transparent;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: padding-left 0.2s, padding-right 0.2s;
}
.navbar a:hover {
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
}
.navbar a.active {
  background-color: #00ffff86;
}

.navbar-right {
  float: right;
}

#home_button {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    radial-gradient(circle at top left, var(--nav_1), var(--nav_2));
}
#blog_button {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    radial-gradient(circle at top left, var(--nav_2), var(--nav_3));
}
#fiction_button {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    radial-gradient(circle at top left, var(--nav_3), var(--nav_4));
}
#extra_button {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    radial-gradient(circle at top left, var(--nav_4), var(--nav_5));
}
#about_button {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    radial-gradient(circle at top left, var(--nav_4), var(--nav_5));
}

.headertext {
  font-size: 48px;
  font-weight: bold;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 0.1em;
  margin-bottom: 0.4em;
  border-bottom: 1px solid #ffffff;
}
.blogtext {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  min-height: 24em;
}

.centertext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 1400px) {
  .blogtext {
    margin-right: 15%;
    margin-left: 300px;
  }
  .headertext {
    margin-right: 15%;
    margin-left: 300px;
  }
}

.sidenav {
  width: 250px;
  float: left;
  top: 80px;
  margin-left: 10px;
  padding-bottom: 10px;
  position: sticky;
  overflow-x: hidden;
  text-align: left;
  border: double 4px transparent;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(black, black),
    radial-gradient(
      circle at top left,
      var(--nav_1),
      var(--nav_2),
      var(--nav_3)
    );
  transition: width 0.2s, padding-bottom 0.2s;
}

.sidenav:hover {
  width: 260px;
  padding-bottom: 20px;
}
.sidenav p {
  width: 100%;
  text-decoration: none;
  color: white;
  float: left;
  text-align: left;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sidenav a {
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  color: white;
  float: left;
  text-align: left;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.sidenav-button {
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  color: white;
  float: left;
  text-align: left;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.sidenav a:hover {
  font-weight: bolder;
  width: 100%;
}

.sidenav-header {
  font-size: 25px;
}

.has-tooltip .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: sticky;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.has-tooltip .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.footer {
  text-align: center;
  background-color: #111414;
  padding: 10px 0px;
  width: 100%;
}
